body{
    box-sizing: border-box;
}

#top{
    background-image: url('images/con-main-pic.jpg');
    background-position:center;
    background-size: cover;
  height: 100vh;
    display: flex;
   justify-content: center;
    flex-direction: column;
    
}

#top-words{
    border: 1px solid blue;
    margin-left: 0.5em;
    width: 7em;
}

#button-holder{
    margin-left: 2em;
}

#body-portion{
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  background-color: #FFDDD2;
}

#header{
    border-bottom: red 2px solid;
    margin-bottom: 1em;
}

#button-holder2{
    margin-top: 0.5em;
    margin-left: 0.1em;
}

#image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: #83C5BE;
    
}

#image-section h2{
    margin-bottom: 20px;
}

.images{
    width: 18em;
    height: 18em;
    border-radius: 50%;
}

.images-holder{
    position: relative;
    margin-bottom: 20px;
}

.toronto{
    background-color: red;
    position:absolute;
    left: 90px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
    
}

.north-york{
    background-color: red;
    position:absolute;
    left: 75px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
}

.mississauga{
    background-color: red;
    position:absolute;
    left: 65px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
}


