body{
    box-sizing: border-box;
}


#nav{
    font-family: 'Roboto Slab', serif;
    
}
#top{
    background-image: url('images/con-main-pic.jpg');
    background-position:center;
    background-size: cover;
  height: 100vh;
    display: flex;
   justify-content: center;
    flex-direction: column;
   
    
   
    
}

#top-words{
    margin-left: 0.5em;
    width: 7em;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    background-color: rgba(145, 255, 0, 0.404);
}

#button-holder{
    margin-left: 2em;
    
}

#body-portion{
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
padding-top: 40px;
font-family: 'Roboto Slab', serif;
  background-color: #F0F3BD;
}

#header{
    border-bottom: red 2px solid;
    margin-bottom: 1em;
}

#button-holder2{
    margin-top: 0.5em;
    margin-left: 0.1em;
}

#third-section{
    text-align: center;
    background-color: #00A896;
    padding-top: 20px;
}

#image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: #00A896;
padding-bottom: 50px;
padding-top: 40px;
font-family: 'Roboto Slab', serif;
}

#image-section h2{
    margin-bottom: 20px;
}

.images{
    width: 18em;
    height: 18em;
    border-radius: 50%;
}

.images-holder{
    position: relative;
    margin-bottom: 20px;
}

.toronto{
    background-color: #F0F3BD;
    position:absolute;
    left: 90px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
    
}

.north-york{
    background-color: #F0F3BD;
    position:absolute;
    left: 75px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
}

.mississauga{
    background-color: #F0F3BD;
    position:absolute;
    left: 65px;
    bottom: 25px;
    padding: 0.7em;
    border-radius: 25px;
}


#describe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: #F0F3BD;
    padding-bottom: 40px;
    font-family: 'Roboto Slab', serif;

}
.lone-image{
    width: 25em;
    height: 40em;
 box-shadow: 10px 10px #888888;
 position: relative;
bottom: 38px;
}

#contact-section{
    background-color: #02C39A;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

#contact-section h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#fname{
    width: 50%;
    margin-bottom: 20px;
  
}

#email{
    width: 50%;
    margin-bottom: 20px;
 
}

#subject{
    width: 80%;
    margin-bottom: 20px;
   
}


.lower-button2{
    margin-bottom: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
}



@media(min-width:576px){
    .images{
        width: 20em;
        height: 20em;
    }

    .toronto{
        left: 105px;
    }

    .north-york{
        left: 90px;
    }

    .mississauga{
        left: 80px;
    }
}

@media(min-width:1024px){
    #image-section{
        flex-direction: row;
       justify-content: center;
    }

    #body-portion{
        font-size: 1.5em;
      
    }

    #describe-section{
        font-size: 1.5em;
    }

    .images{
        width: 19em;
        height: 20em;
    }

    .toronto{
        left: 90px;
    }

    .north-york{
        left: 70px;
    }

    .mississauga{
        left: 60px;
    }

    .images-holder{
        margin-left: 25px;
    }

    #describe-section{
        flex-direction: row;
    }

    #words-area{
        width: 90%;
        margin-left: 60px;
    }

    .lone-image{
        left:40px
    }

}








